{{define "subject"}}Welcome to Cinema Vault!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Cinema Vault account. We're excited to have you on board!

Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON
body to activate your acount:

{"token": "{{.activationToken}}"}

Please take note that this is a one-time token and it will expire in 3 days.

Thanks,

The Cinema Vault Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Hi,</p>
  <p>Thanks for signing up for a Cinema Vault account. We're excited to have you on board!</p>
  <p>Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON
    body to activate your acount:</p>
  <pre><code>
    {"token": "{{.activationToken}}"}
  </code></pre>
  <p>Please take note that this is a one-time token and it will expire in 3 days.</p>
 <p>Thanks,</p>
  <p>The Cinema Vault Team</p>
</body>

</html>
{{end}}
